.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $black;
  color: $white;
  padding: 0 20px;
  height: $headerHeight;
  z-index: 99;
  display: flex;
  align-items: center;

  .logo{
    max-width: 250px
  }

  nav.nav-primary {
    padding: 0 20px;
    flex: 1;
    height: 100%;
    
    .menu-main-menu-container{
      height: 100%;
    }
  }

  .hamburger{
    display: block;
    right: 20px;
    top: 14px;
    font-size: 30px;
    cursor: pointer;

    &:hover{
      color: $yellow;
    }
  }
}

.nav {
  background-color: transparent;
  justify-content: flex-end;
  height: 100%;

  & > li{
    padding: 0 0.75rem;
    height: 100%;
  }

  li {
    @extend .nav-item;
    border-bottom: solid transparent 5px;

    &.active a:not(.button){
      color: $yellow;
    }

    a {
      &:not(.button) {
        color: $white;
      }
    }

    &.menu-item-has-children {

      &> a{
        cursor: default;
      }

      ul.sub-menu {
        display: none;
        position: absolute;
        top: $headerHeight;
        text-align: left;
        z-index: -1;
        padding: 20px;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          opacity: .9;
          position: absolute;
          transform: scaleX(1000);
          left: 0;
          top: 0;
          z-index: -1;
        }

        li {
          border-bottom: 0;
          a{
            transition: .3s;
          }
        }
      }
    }

    &:nth-child(1) {
      &.menu-item-has-children {
        ul.sub-menu {
          &::before{
            background: $blue;
          }
        }
      }
    }

    &:nth-child(2) {
      &.menu-item-has-children {
        ul.sub-menu {
          &::before{
            background: $red;
          }
        }
      }
    }

    &:nth-child(3) {
      &.menu-item-has-children {
        ul.sub-menu {
          &::before{
            background: $orange;
          }
        }
      }
    }

    &:nth-child(4) {
      &.menu-item-has-children {
        ul.sub-menu {
          &::before{
            background: $purple;
          }
        }
      }
    }

    &:nth-child(5) {
      &.menu-item-has-children {
        ul.sub-menu {
          &::before{
            background: $cyan;
          }
        }
      }
    }

    &:nth-child(6) {
      &.menu-item-has-children {
        ul.sub-menu {
          &::before{
            background: $blue;
          }
        }
      }
    }

    &:nth-child(7) {
      &.menu-item-has-children {
        ul.sub-menu {
          &::before{
            background: $red;
          }
        }
      }
    }
  }
}

.page-header{ 
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search{

  &.active{
    form{
      top: $headerHeight;
    }
  }

  form{
    left: 0;
    top: 0px;
    width: 100%;
    background-color: $white;
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.31);
    transition: .3s;
    z-index: 98;

    .search-field{
      background-color: transparent;
      border: 0;
      font-size: 30px;
    }

    label{
      flex: 9;
    }
    
    .search-submit{
      flex: 1 auto;
      border-radius: 0;
      border: 0;
      font-size: 30px;
      max-width: 200px;
    }
  }
}

nav.nav-primary.mobile{
  display: none;
}


// MOBILE ONLY
@media only screen and (max-width: 1060px) {
  .banner{
    justify-content: space-between;

    .search{
      display: none;
    }
  }

  nav.nav-primary.desktop{
    display: none;
  }

  nav.nav-primary.mobile{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background: $black;
    width: 100%;
    height: 100%;
    max-width: 500px;
    z-index: 98;
    overflow: auto;
    transform: translateX(110%);
    transition: transform .4s;

    &.active{
      transform: translateX(0);
    }

    .nav{
      height: auto;
      flex-flow: wrap;
      padding: 100px 20px 50px;
      text-align: left;

      & > li{
        width: 100%;
        font-size: 25px;
        padding: 0 0 5px;
        margin: 0 0 1em;
        flex-flow: wrap;

        a{
          width: 100%;
        }

        &.menu-item-has-children{
          ul.sub-menu{
            display: block;
            position: relative;
            top: 0;
            padding: 10px 20px;
            z-index: 1;

            &:before{
              content: none;
            }

            a:hover{
              color: $yellow;
            }
          }
        }
      }
    }
  }

  .page-header{
    min-height: 200px;
  }
}

//BIGGER SCREENS ONLY
@media only screen and (min-width: 1060px) {
  .banner{
    .hamburger{
      display: none;
    }
  }

  .search{
    &:hover{
        color: $yellow;
        cursor: pointer;
    }
  }

  .nav {
    li {
  
      &.active a:not(.button){
  
        &:hover{
          color: $yellow;
        }
      }
  
      a {
        &:not(.button) {
          &:hover {
            color: inherit;
          }
        }
      }
  
      &.menu-item-has-children {
  
        &> a{
          cursor: default;
        }
  
        ul.sub-menu {
          li {
            a{
              transition: .3s;
            }
  
            &:hover {
              border-bottom: 0;
              a{
                transform: translateX(-20px);
              }
            }
          }
        }
  
        &:hover {
          ul.sub-menu {
            display: block;
          }
        }
      }
  
      &:nth-child(1) {
        &:hover {
          border-bottom-color: $blue;
        }
      }
  
      &:nth-child(2) {
        &:hover {
          border-bottom-color: $red;
        }
      }
  
      &:nth-child(3) {
        &:hover {
          border-bottom-color: $orange;
        }
      }
  
      &:nth-child(4) {
        &:hover {
          border-bottom-color: $purple;
        }
      }
  
      &:nth-child(5) {
        &:hover {
          border-bottom-color: $cyan;
        }
      }
  
      &:nth-child(6) {
        &:hover {
          border-bottom-color: $blue;
        }
      }
  
      &:nth-child(7) {
        &:hover {
          border-bottom-color: $red;
        }
      }
    }
  }
}