
//Flexbox Bugs Fixes
.flexboxContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.wrap.container {
  margin-top: $headerHeight;
  max-width: 100%;
  width: 100%;

  .tile{
    flex-basis: auto;
  }

  .infobox{
    background-color: $red;
    color: $white;
    padding: 50px;

    h1{
      color: $white;
    }
  }
    .page-content{
      padding: 50px 20px;

      section{
        margin-bottom: 50px;

        &.image{
          img{
            width: auto;
            max-height: 500px;
            display: block;
            margin: auto;
          }

          h6{
            font-weight: 100;
            font-style: italic;
            text-align: center;
            color: black;
            font-size: .8em;
            margin-top: 5px;
          }
        }

        &.gallery{
          .slide{
            img{
              max-height: 400px;
              margin: 0 auto;
            }
          }

          .slick-prev:before, .slick-next:before{
            color: #ddd;
          }

          .slick-next{
            right: 20px;
          }

          .slick-prev{
            left: 20px;
            z-index: 1;
          }

          p{
              font-style: italic;
              text-align: center;
              margin-top: 5px;
          }
        }
      }
    }

    .search-content{
      padding: 50px;
      article{
        margin-bottom: 30px;
      }
    }
}

.video-wrap{
  position: relative; 
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.dark {
  color: $white;
  background-color: $black;

  .title {
    color: $white;
  }
}

div.gradient{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,1+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.testimonial {
  background-color: $red;
  p{
    font-size: 1.5em;
    line-height: 1.2em;
  }
  h4{
    font-size: 1.4em;
    font-weight: 600;
  }
  h6{
    font-size: 1em;
    line-height: 1.2em;
    color: $black;
    font-weight: 400;
  }
}

/////////////////////////////////
//// HOME - MOBILE
/////////////////////////////////

.home {
  background-color: $black;

  div.wrap.container{
    .content{
      min-height: auto;
      background: transparent;
    }
  }

  .container {
    width: auto !important;
    max-width: none !important;
  }

  #banner {
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .content{
      margin-bottom: 0;
    }

    .gradient{
      bottom: -1px;
    }

    .video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      video{
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h1{
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 1.4em;
      padding-top: 200px;
      color: $white;
    }

    .video-btn{
      border: 0;

      &:hover{
        background-color: $blue;
        color: $white;
      }
    }

    .video-player{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($black, .9);
      z-index: 999;
      display: none;
      justify-content: center;
      align-items: center;

      .content{
        max-width: 1000px;
        width: 100%;
      }

      &.active{
        display: flex;
      }
    }
  }

  #intro {
    background-color: $blue;
    margin-bottom: 0 !important;
    
    p{
      font-size: 1.5em;
      line-height: 1.2em;
    }
  }

  .testimonial {
    background-color: $orange;
  }

  #cte {
    background-color: $orange;
    
    p{
      font-size: 1.5em;
      line-height: 1.2em;
      color: $black;
    }
  }

  .tile.is-parent {
    padding-bottom: 0;
    padding-top: 0;

    &:first-child{
      padding-left: .75em;
    }

    .tile.is-child {
      color: $white;
      padding: 50px;
    }
  }

  .tile.is-vertical.is-parent.is-4{
    padding-right: .75em;
  }

  #nextEvent{
    position: relative;
    overflow: hidden;
    min-height: 300px;

    a.wrap{
      position: absolute;
      display: block;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      padding: 20px;
      color: $white;
      transition: .3s;
      h2{
        color: $white;
        position: absolute;
        bottom: 0px;
        left: 20px;
      }
    }

    img{
      min-width: 100%;
      min-height: 100%;

      max-width: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .3s;
      opacity: .8;
    }
  }

  .artmajors {

    .artmajor{
      position: relative;
      min-height: 300px;
      color: $white;
      padding: 20px;
      background-size: cover;
      overflow: hidden;

      img{
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
        opacity: .8;
      }
      
      a.wrap{
        position: absolute;
        display: block;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: $white;
        transition: .3s;

        h3{
          color: $white;
          position: absolute;
          bottom: 0px;
          left: 20px;
        }
      }
    }
  }
}

/////////////////////////////////
//// LOGIN
/////////////////////////////////
.page.login{
  .centered{
    height: 100%;
    position: absolute;
    width: 100%;
    background: $orange;

    .loginWrap{
      background: $white;
      padding: 20px;
      border-radius: 10px;
    }
  }
}


/////////////////////////////////
//// ABOUT
/////////////////////////////////

.page.about{
  .missionStatement{
    background-color: $orange;
    padding: 100px 60px;
    font-size: 20px;
    color: $black;

    .wrap{
      max-width: 800px;

      h2{
        color: $black;
      }
    }
  }

  .page-content{
    .wrap{
      max-width: 800px;
    }
  }

  .sidebar{
    padding: 0;
    display: flex;
    flex-flow: column wrap;

    .image{
      flex: 1 auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .testimonial{
      padding: 50px;
    }
  }

  .bottomBanner{
    padding-bottom: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .staff{
    .wrap{

      .staffGroup{
        padding-bottom: 30px;
        break-inside: avoid;

        h6{
          font-size: 1em;
          font-weight: 600;
          color: $black;
        }

        .person{
          padding-bottom: 10px;
        }
      }
    }
  }
}

/////////////////////////////////
//// CALENDAR
/////////////////////////////////

.page-template-page-calendar-blade-php{
  h1{
    font-size: 30px;
    margin-bottom: 50px;
  } 

  h2{
    font-size: 20px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .type-tribe_events{
    display: flex;
    flex-flow: row wrap;

    .eventDate{
      max-width: 75px;
      flex: 1 auto;
      
      span{
        display: none;
      }

      span:first-child{
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        background: $blue;
        color: $white;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
      }
    }
  
    .eventContent{
      flex: 1 auto;
      padding-left: 20px;

    }
  }
}

/////////////////////////////////
//// ADMISSIONS
/////////////////////////////////
.admissions{
  .columns{
    display: flex;
    flex-direction: column;
    .column{
      &:nth-child(1){
        order: 3;
      }
      &:nth-child(2){
        order: 1;
      }
      &:nth-child(3){
        order: 4;
      }
      &:nth-child(4){
        order: 2;
      }
    }
  }

  .page-content{
    h1{
      display: none;
    }
  }
}

/////////////////////////////////
//// CONTACT
/////////////////////////////////
.contact{
  .content .columns{
    padding-top: 0;
    width: 100%;
    margin: 0;

    & > div{
      padding: 50px;

      &:first-child{
        background-color: $orange;
        color: $black;

        h1{
          color: $black;
        }

        .group{
          display: flex;
          flex-direction: row;
          margin-bottom: 50px;

          h6{
            font-weight: 600;
            font-size: 1em;
            color: $black;
          }

          & > div:first-child {
            font-size: 1.5em;
            margin-right: 1em;
          }
        }
      }
    }

    #formContainer{
      .wrap{
        max-width: 600px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {

/////////////////////////////////
  //// ABOUT - TABLET
  /////////////////////////////////
  .page.about{
    .staff{
      .wrap{
        columns: 2;
        column-gap: 20px;
        max-width: 100%;
      }
    }
  }

  /////////////////////////////////
  //// Contact - TABLET
  /////////////////////////////////

  .contact{
    .content .columns{
      min-height: 100%;
      position: absolute;
      top: 0;
    }
  }

  /////////////////////////////////
  //// HOME - TABLET
  /////////////////////////////////

  .home {
    .tile.is-parent {
      padding: 0;
    }

    #nextEvent{
      &:hover{
        img{
          transform: translate(-50%, -50%) scale(1.1);
          opacity: 1;
        }
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  div.wrap.container {
    margin-bottom: 300px;

    .page-content{
      padding: 50px 50px 100px;
    }
  }

  /////////////////////////////////
  //// HOME - DESKTOP
  /////////////////////////////////

  .home {

    #banner{
      h1{
        font-size: 2.5em;
      }
    }

    .artmajor{
      display: inline-block;
      position: relative;
      width: 33.33%;
      color: $white;
      padding: 20px;
      background-size: cover;
      overflow: hidden;

      &:hover{
        img{
          transform: translate(-50%, -50%) scale(1.1);
          opacity: 1;
        }
      }
    }
  }

  /////////////////////////////////
  //// ABOUT - DESKTOP
  /////////////////////////////////
  .page.about{
    .staff{
      .wrap{
        columns: 3;
      }
    }
  }

  /////////////////////////////////
  //// Contact - TABLET
  /////////////////////////////////

  .contact{
    .content .columns{
      & > div{
        padding: 100px;
      }
    }
  }

  /////////////////////////////////
  //// ADMISSIONS - DESKTOP
  /////////////////////////////////
  .admissions{
    .columns{
      flex-direction: initial;
      .column{
        &:nth-child(1){
          order: 1;
        }
        &:nth-child(2){
          order: 2;
        }
        &:nth-child(3){
          order: 3;
        }
        &:nth-child(4){
          order: 4;
        }
      }
    }
  }
}