body {
  background-color: $black;
  font-family: 'ApercuProRegular', sans-serif;
  overflow-x: hidden;
}

html, body.mce-content-body {
  /* Fixes Post Editor */
  height: inherit !important;
}

//in Admin editor
body#tinymce{
  background-color: $white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content{
  position: relative;
  background-color: $white;
  h1,
  h1:not(:first-child) {
    margin-top: 0;
  }
  h2{
    &:first-of-type{
      margin-top: 0;
    }
  }
  h4{
    color: $blue;
    margin-bottom: 0;
  }
  h5{
    color: $blue;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  ul{
    margin: 0;
  }
}

p{
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
}

a.button{
  font-weight: 600;
  padding: 20px;
  border-radius: 20px;

  &.is-outlined {
    background-color: transparent;
    border-radius: 20px;
    border-width: 2px;
    letter-spacing: .05em;
    border-color: $black;
    color: $black;

    &:hover{
      background-color: $white;
      color: $blue;
    }
  }
}

a.button.is-inverted {
  color: $white;
  border-color: $white;
}

.has-vertically-aligned-content {
  display: flex;
  align-items: center;
  max-width: 100%;
  //box-sizing: border-box;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  //box-sizing: border-box;

  .wrap{
    width: 100%;
  }
}

//fonts

@font-face {
  font-family: 'ApercuProRegular';
  font-display: auto;
  src: url('../fonts/ApercuPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/ApercuPro.otf')  format('opentype'),
	     url('../fonts/ApercuPro.woff') format('woff'), url('../fonts/ApercuPro.ttf')  format('truetype'), url('../fonts/ApercuPro.svg#ApercuPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Forms weird styling fix
div.wpforms-container-full .wpforms-form input.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form select.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium{
  max-width: none!important;
}

//videos
.content .wp-block-embed-youtube{
  margin-left: 0;
  margin-right: 0;

  .wp-block-embed__wrapper{
    height: 0;
    padding-top: 56%;
    position: relative;
  
    iframe{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

//Wordpress Admin Bar
.admin-bar{
  header.banner{
    margin-top: 32px;
  }
}


@media only screen and (min-width: 600px) {
  body{
    overflow-x: initial;
  }
  .content{
    min-height: 100vh;
    .column{
      padding-bottom: 0;
    }
  }
}