/** Colors */
$primary:               #525ddc;
$white:                 #fff;
$black:                 #000;
$lightgrey:             #F5F5F5;

$blue: #19569e;
$orange: #ffa902;
$red: #ff1c44;
$purple: #9f3fc2;
$cyan: #15aced;

/** Box Model  */
$spacer:                2rem;
$headerHeight: 70px;

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";
